---
import Badge from "../components/Badge.astro"
import ClickableNoDecoration from "../components/ClickableNoDecoration.astro"
import ResumeWorkExperience from "../components/resume/ResumeWorkExperience.astro"
import ContentLayout from "../layouts/ContentLayout.astro"
import RootLayout from "../layouts/RootLayout.astro"

const TRAVA_COLOR = "#34d399";      // emerald-400
const WIN_COLOR = "#7c3aed";        // violet-600
const CLOUDFLARE_COLOR = "#fb923c"; // orange-400
const STRUCTURAL_COLOR = "#c084fc"; // purple-400
const PURDUE_COLOR = "#fbbf24";     // amber-400
const YELP_COLOR = "#ef4444";       // red-500
const ININ_COLOR = "#22d3ee";       // cyan-400
---
<RootLayout title="Mike Hockerman">
  <div class="xbg">
    <ContentLayout>
      <div class="flex flex-row items-baseline">
        <span class="text-md text-zinc-200 mr-4">everything i've done</span>
        <a class="text-zinc-400 underline" href="/resume-v9-mike-hockerman.pdf" target="_blank">
          in .pdf
        </a>
      </div>
      
      <div class="mb-8" />
      <ResumeWorkExperience
        borderColor={TRAVA_COLOR}
        bullets={[
          "Architected, built, maintained, and evolved an array of TypeScript and Golang-based systems powering cybersecurity scanning for our customers, leveraging technologies such as Temporal, React, and open source scanning tools to identify vulnerabilities.",
          "Balanced the prioritization of customer needs, business requirements, product evolution, and technical debt to meaningfully move the product suite forward.",
          "Mentored a team of entry and mid-level engineers, assisting with architecture, decision making, documentation, career development, and implementation."
        ]}
        company="Trava"
        location="Indianapolis, IN"
        positions={[{ title: "Senior Software Engineer", years: "2023-now" }]}
      />
      <ResumeWorkExperience
        borderColor={WIN_COLOR}
        bullets={[
          "Planned & implemented back-of-house technical systems, including online accounts, mailing lists, domain management, and the primary marketing website.",
        ]}
        company="Women Investors Network"
        location="Indianapolis, IN"
        positions={[{ title: "Volunteer Web Engineer", years: "2019-now" }]}
      />
      <ResumeWorkExperience
        borderColor={CLOUDFLARE_COLOR}
        bullets={[
          "Architected & implemented new API and domains-facing platform features for enterprise customers including opt-in domain security enhancements and API access over mTLS.",
          "Modernized dozens of legacy workloads from traditional servers to Kubernetes.",
          "Responded to high severity on-call incidents affecting millions of customers and internet users, implementing observability and alerting improvements across our services."
        ]}
        company="Cloudflare"
        location="Remote"
        positions={[{ title: "Systems Engineer", years: "2021-2023" }]}
      />
      <ResumeWorkExperience
        borderColor={STRUCTURAL_COLOR}
        bullets={[
          "Architected & implemented new API and domains-facing platform features for enterprise customers including opt-in domain security enhancements and API access over mTLS.",
          "Modernized dozens of legacy workloads from traditional servers to Kubernetes.",
          "Responded to high severity on-call incidents affecting millions of customers and internet users, implementing observability and alerting improvements across our services."
        ]}
        company="Structural"
        location="Indianapolis, IN"
        positions={[
          { title: "Senior Software Engineer", years: "2020-2021" },
          { title: "Software Engineer", years: "2016-2020" }
        ]}
      />
      <ResumeWorkExperience
        borderColor={PURDUE_COLOR}
        bullets={[
          "Served as Vice President and President of Purdue's ACM Special Interest Group for Application Development (SIGAPP)."
        ]}
        company="Purdue University"
        location="West Lafayette, IN"
        positions={[
          { title: "B.S. Computer Science", years: "2012-2015" },
          { title: "Minor, Organizational Leadership", years: ""},
        ]}
      />
      <ResumeWorkExperience
        borderColor={YELP_COLOR}
        bullets={[
          "Optimized log search times in a MySQL-sourced data pipeline for business analytics, and engineered a mapping/filtering system to flag and censor personally identifiable information within the pipeline.",
        ]}
        company="Yelp"
        location="San Francisco, CA"
        positions={[
          { title: "Software Engineering Intern", years: "2015" },
        ]}
      />
      <ResumeWorkExperience
        borderColor={ININ_COLOR}
        bullets={[
          "Shipped an end-to-end system which scanned PDF documents, applied optical character recognition and barcode scanning, and indexed the results in Elasticsearch.",
        ]}
        company="Genesys"
        location="Indianapolis, IN"
        positions={[
          { title: "Software Engineering Intern", years: "2014" },
        ]}
      />
    </ContentLayout>
  </div>
</RootLayout>
<style>
  .xbg {
    background-color: #18181b; /** zinc-800 */
    min-height: 100vh;
  }
</style>
